@import url('https://fonts.googleapis.com/css2?family=Jost&family=Oswald&family=Roboto+Slab&family=Spartan&family=Raleway&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons"');

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(59, 63, 75);
    color: black;
    background-image: url('./assets/background-yoga5.jpg');
    background-size: auto;
    background-repeat: no-repeat;
}
h1, .heading {
    font-family: 'Jost', serif;
    font-size: 18pt;
    color: rgb(85, 36, 17);
    text-transform: uppercase;
}

/* navigation bar related CSS */
.navbar {
    background-color:rgb(255, 237, 236);
    font-size: 12pt;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid lightcoral;
}

.navbarContainer {
    width:98%;
    margin-right: auto;
    margin-left: auto;
}

.no-ul {
    text-decoration: none;
}

.navbar .openLinks {
    text-align:left;
    display: inline-block;
    border: 5px solid red;
    margin-left:5px;
    padding: 10px;
}

.navbar .authLinks {
    display: block;
    border: 5px solid greenyellow;
    float: right;
    padding: 10px;
}
.navbar .link {
    font-family: 'Jost', sans-serif;
   /* color: rgb(93, 93, 93);*/
   color: brown;
    /*width: 100px; */
    /*padding: 10px;*/
    padding: 0px 10px;
    text-transform: uppercase;
}

.activeLink  {
    text-align:right;
    /*display:inline;*/
    border: 5px solid black;
    color: brown;
    font-weight: bold;
}

.genericInnerContainer .link {
    color: rgb(93, 93, 93);
}

.genericInnerContainer .link:hover, .navbar .link:hover {
    color: brown;
}

/*.openLink {
    color: darkgray;
    width: 100px;
    padding: 10px;
    text-transform: uppercase;
}

.openLink:hover, .authLink:hover, link:hover {
    color: brown
}*/

/*.link:hover {
    color:brown;
}*/

/*.authLink {
    color: rgb(93, 93, 93);
    padding: 15px;
    text-transform: uppercase;

}*/

/* Form related CSS */
form, select, input, select {
    font-family: 'Roboto Slab', serif;
    color: black;
    font-size: 12pt;
    padding: 3px;
    margin: 5px;
}

form label {
    font-weight: bold;
    padding: 3px;
    border: 1px solid black;
    margin: 5px;
}
form fieldset {
    border: 1px pink solid;
}

/*** below two need to be updated with colors */
input, select {
    border: 1px pink solid;
    outline: 0;
}
input:focus, select:focus {
    border: 1px red solid;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 150, 102, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 150, 102, 0.6);
}


/* generic styles for all pages */
.genericContainer {
    margin: 10px;
}

.genericInnerContainer {
    background-color: beige;
    opacity: 80%;
    color:black;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border: 1px solid gray;
    padding: 10px;
}

/* table grid layouts */
.sequenceContainerGrid3 {
    margin-left: 10px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 75% 10% 10%;
}

.sequenceContainerGrid2 {
    margin-left: 10px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 80% 20%;
}


.genericInnerContainer .header, .genericInnerContainer .head, .genericInnerContainer .cell {
    height: 25px;
    padding: 10px;
}

/* header to sequence table */
.genericInnerContainer .header {
    background: rgb(255, 228, 168);
    font-weight: bold;
    border: 1px solid rgb(167, 103, 0);
    color:brown;
    font-family: Raleway, sans-serif;
}

/* row cell to table */
.genericInnerContainer .head {
    background: white;
    border: 1px solid rgb(253, 200, 156);
    color: black;
    font-family: 'Jost', sans-serif;
}



/* sequence Show classNames */
.highlightPose {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.genericInnerContainer .selectedPose {
    color: red;
    font-weight: bold;
    background-color:black;
}

/* column cell to table */
.sequenceContainer .cell  {
    background: grey;
}

.sequenceLink {
    color: black;
    padding: 5px;
}
.seqField {
    padding: 5px;
}

/* delete and edit actions on sequences */
.delete, .edit {
    color: grey;
}

/* styling related to onDelete */
.delete:hover, .edit:hover {
    color: rgb(95, 27, 6);
    cursor: pointer;
}

.delete:active, .edit:active {
    color: red;
}
.errors {
    font-weight:bold;
}

.click {
    cursor: pointer;
}
button:hover {
    border: 1px solid blue;
}

/* common styling */
.center {
    text-align: center;
}

.big {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.ar {
    text-align: right;
}

.propertyFieldName {
    font-weight:bold;
}

.gray {
    color: gray;
}