@import url('https://fonts.googleapis.com/css2?family=Jost&family=Oswald&family=Roboto+Slab&family=Spartan&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons"');

body {
    margin: 0;
    font-family: 'Oswald', serif;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(59, 63, 75);
    color: white;
    background-image: url('./assets/background-yoga5.jpg');
    background-size: auto;
    background-repeat: no-repeat;
}
h1 {
    font-family: 'Jost', serif;
    font-size: 14pt;
    color: rgb(85, 36, 17)
}

form,select,input,p {
    font-family: 'Roboto Slab', serif;
    color: black;
}
.label {
    font-weight: bold;
}

.link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:12pt;
    color: black;
}

.navbar {
    background-color:rgb(255, 237, 236);
    font-size: 12pt;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid lightcoral;
}

.navbarContainer {
    width:98%;
    margin-right: auto;
    margin-left: auto;
}

.link {
    font-family: 'Jost', sans-serif;
    text-decoration: none;
}
.openLinks {
    text-align:left;
    display: inline-block;
    border: 5px solid red;
    margin-left:5px;
}
.linkdiv {
    padding: 5px;
}

.openLink {
    color: darkgray;
    width: 100px;
    padding: 10px;
    text-transform: uppercase;
}
.activeLink {
    text-align:right;
    /*display:inline;*/
    border: 5px solid black;
    color:red;
}
.authLinks {
    display: block;
    border: 2px solid greenyellow;
    float: right;
}
.authLink {
    color: rgb(93, 93, 93);
    padding: 15px;
    text-transform: uppercase;

}

.sequenceContainer {
    margin-left: auto;
    margin-right: auto;
    opacity: 50%;
    border: 5px solid red
}

.sequenceContainerGrid {
    margin-left: 10px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 75% 10% 10%;
    border: 5px solid green;
}

.sequenceContainer .header, .sequenceContainer .head, .sequenceContainer .cell {
    /*padding: 10px;*/
    /*border: 1px solid lightgray;*/
    height: 25px;
    padding: 10px;
    
    
}

/* header to my table */
.sequenceContainer .header {
    background: rgb(255, 228, 168);
    font-weight: bold;
    border: 1px solid rgb(167, 103, 0);
    color:brown;
    font-family: Raleway, sans-serif;
}

/* row cell to table */
.sequenceContainer .head {
    background: white;
    border: 1px solid rgb(253, 200, 156);
    color: black;
    font-family: 'Jost', sans-serif;
}

.sequenceShowContainer {
    margin: 10px;
   /* font-family: Jost, sans-serif;*/
}

.sequenceShowDiv, .poseDescription {
    background-color: beige;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 80%;
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 1px solid gray;
}

.highlightPose {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

.selectedPose {
    color: red;
    font-weight: bold;
}
/* column cell to table */
.sequenceContainer .cell  {
    background: grey;
}

.sequenceLink {
    color: black;
    padding: 5px;
}
.seqField {
    padding: 5px;
}

/* delete and edit actions on sequences */
.delete, .edit {
    color: grey;
}
/* styling related to onDelete */
.delete:hover, .edit:hover {
    color: rgb(95, 27, 6);
    cursor: pointer;
}

.delete:active, .edit:active {
    color: red;
}
.errors {
    font-weight:bold;
}

.click {
    cursor: pointer;
}