@import url('https://fonts.googleapis.com/css2?family=Jost&family=Oswald&family=Roboto+Slab&family=Spartan&family=Raleway&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons"');

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(59, 63, 75);
    color: black;
    background-image: url('./assets/background-yoga5.jpg');
    background-size: auto;
    background-repeat: no-repeat;
}
h1, .heading {
    font-family: 'Jost', serif;
    font-size: 18pt;
    color: rgb(85, 36, 17);
    text-transform: uppercase;
}

/* navigation bar related CSS */
.navbar {
    background-color:rgb(255, 220, 189);
    font-size: 14pt;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid lightcoral;
}

.navbarContainer {
    width:98%;
    margin-right: auto;
    margin-left: auto;
}

.no-ul {
    text-decoration: none;
}

.navbar .openLinks {
    text-align:left;
    display: inline-block;
    /*border: 5px solid red;*/
    margin-left:5px;
    padding: 10px;
}

.navbar .authLinks {
    display: block;
    /*border: 5px solid greenyellow;*/
    float: right;
    padding: 10px;
    margin-right: 5px;
}
.navbar .link {
    font-family: 'Jost', sans-serif;
   /* color: rgb(93, 93, 93);*/
   color: black;
    /*width: 100px; */
    /*padding: 10px;*/
    padding: 0px 15px;
    text-transform: uppercase;
}

.activeLink  {
    text-align:right;
    /*display:inline;*/
    /*border: 5px solid black;*/
    color: brown;
    font-weight: bold;
}

/* Form related CSS */
form, select, input, select {
    font-family: 'Roboto Slab', serif;
    color: black;
    font-size: 12pt;
    padding: 3px;
    margin: 5px;
}

form label {
    font-weight: bold;
    padding: 3px;
    margin: 5px;
}
form fieldset {
    border: 1px pink solid;
}

/*** below two need to be updated with colors */
input, select {
    border: 1px pink solid;
    outline: 0;
}
input:focus, select:focus {
    border: 1px red solid;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 150, 102, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 150, 102, 0.6);
}


/* table grid layouts */
.sequenceContainerGrid3 {
    margin-left: 10px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 75% 10% 10%;
}

.sequenceContainerGrid2 {
    margin-left: 10px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 80% 20%;
}


/* generic styles for all pages */
.genericContainer {
    margin: 10px;
}

.genericInnerContainer {
    background-color: beige;
    opacity: 80%;
    color:black;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border: 1px solid gray;
    padding: 10px;
}

.genericInnerContainer .link {
    color: rgb(93, 93, 93);
}

.genericInnerContainer .link:hover, .navbar .link:hover {
    color: brown;
}

.genericInnerContainer .header, .genericInnerContainer .head, .genericInnerContainer .cell {
    height: 25px;
    padding: 10px;
}

/* header to sequence table */
.genericInnerContainer .header {
    background: rgb(255, 235, 212);
    font-weight: bold;
    border: 1px solid rgb(167, 103, 0);
    color:brown;
    font-family: 'Jost', sans-serif;
}

/* row cell to table */
.genericInnerContainer .head {
    background: white;
    border: 1px solid rgb(255, 209, 187);
    color: black;
    font-family: 'Jost', sans-serif;
}



.genericInnerContainer .selectedPose {
    color: white;
    font-weight: bold;
    background-color:black;
}

/* column cell to table */
.sequenceContainer .cell  {
    background: grey;
}

.sequenceLink {
    color: black;
    padding: 5px;
}
.seqField {
    padding: 5px;
}

/* sequence Show classNames */
.highlightPose {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/* delete and edit actions on sequences */
.delete, .edit {
    color: grey;
}

/* styling related to onDelete */
.delete:hover, .edit:hover {
    color: rgb(95, 27, 6);
    cursor: pointer;
}

.delete:active, .edit:active {
    color: red;
}
.error {
    font-weight:bold;
    width: 80%;
    color: maroon;
    padding: 5px;
}

.click {
    cursor: pointer;
}

button {
    padding: 5px 10px;
    border: 1px solid pink;
    border-radius: 3pt;
    font-family: 'Roboto Slab', serif;
    background-color: rgb(251, 238, 217);
}

button:hover {
    border: 1px solid brown;
}

button:active {
    border: 1px solid red;
}

.message {
    margin-left: 10px;
    padding: 5px;
}

/* common styling */
.center {
    text-align: center;
}

.big {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.ar {
    text-align: right;
}

.propertyFieldName {
    font-weight:bold;
}

.gray {
    color: gray;
}

.margin10 {
    margin: 10px;
}

.poseImg {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/**** draggable style ****/

.droppable {
    width: 100%;
    /*border: 1px solid gray;
    border-radius: 3pt;*/
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    font-family: 'Jost', sans-serif;
}
.draggable {
    padding: 5px;
    border: 1px solid silver;
    border-radius: 3pt;
}

.droppable .draggable-header, .draggable-header:hover {
    background-color: rgb(255, 235, 212);
    font-weight: bold;
    padding: 10px;
    border: 1px solid grey;
}

.draggable:hover, .draggable:active {
    background-color: silver;
    border-radius: 3pt;
}

.draggable .first, .draggable-header .first {
    width: 70%;
    margin: 2px;
    display: inline-block;
}

.draggable .second, .draggable-header .second {
    width: 10%;
    margin: 2px;
    display: inline;
}
.draggable input {
    width: 10%;
    font-family: 'Jost', sans-serif;
}
.draggable .third, .draggable-header .third {
    width: 10%;
    margin: 2px;
    display: inline;
    float: right;
}

/**** end draggable style ****/